<table style="width: 100%;" class="shopping-cart" id="shopping-cart-id">
    <tr>
        <th>Hình ảnh
        </th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Tổng tiền
        </th>
    </tr>
    <tr>
        <td><img src="./public/image/HINHANH/bantrangdiem.jpg" alt=""></td>
        <td>
            <p style="margin: 0;">Bàn trang điểm phòng ngủ loại 1 (-0%)</p>
        </td>
        <td>
            <div class="price">147.000&nbsp;₫ <sup>đ</sup></div>
        </td>
        <td><input id="number-product-item-SP19" type="number" onchange="changeNumberCart('SP19');" placeholder="1" class="number" value="1"><i class="fa fa-trash" onclick="deleteCartItem('SP19')"></i>
            <p style="color:red;"></p>
        </td>
        <td>
            <div class="price">147.000&nbsp;₫ <sup>đ</sup></div>
        </td>
    </tr>
    <tr>
        <td><img src="./public/image/HINHANH/banghe2.jpg" alt=""></td>
        <td>
            <p style="margin: 0;">Bàn ghế loại 2 (-0%)</p>
        </td>
        <td>
            <div class="price">35.000&nbsp;₫ <sup>đ</sup></div>
        </td>
        <td><input id="number-product-item-SP40" type="number" onchange="changeNumberCart('SP40');" placeholder="1" class="number" value="1"><i class="fa fa-trash" onclick="deleteCartItem('SP40')"></i>
            <p style="color:red;"></p>
        </td>
        <td>
            <div class="price">35.000&nbsp;₫ <sup>đ</sup></div>
        </td>
    </tr>
    <tr>
        <td>Tổng</td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: end;">
            <div class="total-price" style="text-decoration: line-through;">182.000 ₫</div>
        </td>
    </tr>
    <tr>
        <td>Khuyến mãi</td>
        <td></td>
        <td>15%</td>
        <td>(2021-11-01 đến 2022-11-30)</td>
        <td style="text-align: end;">
            <div class="total-price">- 154.700 đ</div>
        </td>
    </tr>
    <tr>
        <td>Thành tiền</td>
        <td colspan="3"></td>
        <td style="text-align: end;">
            <div class="total-price" style="text-decoration: line-through;">182.000 ₫
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>
            <p style="font-size: 12px;">Tiền vận chuyển tính khi thanh toán</p><input type="button" onclick="orderCart();" value="ĐẶT HÀNG" class="cart-btn"></p>
        </td>
    </tr>
</table>



<p></p>